* {
    user-select: none;
}

.tituloinicio {

    display: flex;
    justify-content: center;

}

.teste1 {
    color: #336802;
    margin: 0;
    padding: 0;
    position: relative;
    margin-top: 50px;
    font-size: 85px;
    opacity: 25%;
}

.teste2 {
    color: #132700;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    position: absolute;
    font-size: 32px;
}

.tituloalinhamento {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulotext {
    color: black;
}

.texto {
    color: black;
}

.text {
    padding: 20px;
    margin-top: 25px;
    width: 500px;
    margin-bottom: 155px;
}

.centrocontato {
    justify-content: space-evenly;
    display: flex;
    align-items: center;
}

.emailinputcontato {
    border: #132700 1px solid;
    width: 500px;
    height: 30px;
    margin: 5px;
}

.inputshow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.texinputcontato {
    border: #132700 1px solid;
    width: 500px;
    height: 80px;
    margin: 5px;
    text-align: start;
    resize: none;
}

.BOTAO {
    background-color: #336802;
    border: none;
    border-radius: 50px;
    padding: 10px 40px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    align-self: flex-end;
    color: #b8db97;
    transition: 5ms;
}

.BOTAO:hover {
    background-color: #254b02;
}


.contatosection {
    margin-bottom: 61px;
}