.sectioncard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardpro {
    background-color: rgb(218, 235, 211);
    width: 330px;
    height: 450px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 1px #3a3a3a60;
    margin: 30px;
    transition: 0.5s;
    margin-top: 100px;
    margin-bottom: 113px;
}

.cardpro:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.texto,h1 {

    margin: 10px;
}

h1 {
    font-size: 26px;
}

.texto {
    margin-top: 0;
}