
* {
    font-family: 'Bricolage Grotesque', sans-serif;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(192, 219, 169);
}


/* rgb(192, 219, 169) */
